<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432574515929-6bn2sfvfeqdadrv4upucn9h5ecsnmgko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432574515929-6bn2sfvfeqdadrv4upucn9h5ecsnmgko</string>
	<key>API_KEY</key>
	<string>AIzaSyCBkaYla7NsaEh_5NJ-HN1Rv9eoB8aBPFg</string>
	<key>GCM_SENDER_ID</key>
	<string>432574515929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scaleapp.scale</string>
	<key>PROJECT_ID</key>
	<string>scale-app-b02ea</string>
	<key>STORAGE_BUCKET</key>
	<string>scale-app-b02ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432574515929:ios:97ad0cdd483940af9bccc8</string>
</dict>
</plist>